<div class="text-center">
  <div class="jumbotron">
    <h1>Welcome to Screenz Exam App!</h1>
  </div>

  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Upload Image</button>

</div>


<img class="mt-4" *ngIf="isShowImage" [src]="selectedImageSrc">

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Upload Image</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <div class="form-group">
          <label for="usr"> Image Name:</label>
          <input type="text" class="form-control" id="usr">
        </div>

        <app-select-image (onSelecteImage)="showImage($event)"></app-select-image>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" data-dismiss="modal" [disabled]="!isBtnSave"
          (click)="save()">Save</button>
      </div>

    </div>
  </div>
</div>